
.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 20px;
    padding: 30px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // width: 400px ;
    p{
        margin: 5px;
    }
    .home{
        margin-top: 50px;
        cursor: pointer;
        font-size: 15px;
        background: #01d28e;
        border: 1px solid #01d28e;
        color: #fff;
        margin: 20px;
        padding: 6px 15px;
        align-items: center;
        justify-self: center;
        width: fit-content;
    }
    
    

    

}
